header {
  width: 100%;
  min-height: 500px;
  padding-top: 3em; }

.main-header {
  background-color: #800000;
  font-family: "Lobster", cursive;
  width: 100%;
  margin: 2em auto 0 auto;
  min-height: 100px;
  height: 50px;
  float: left; 
margin-top: -60px;
}

.main-header .logo img {
  width: 100px;
  height: 100px;
  margin: 0 2em 0 0;
  float: left; }

/* navigation*/
.main-header .main-menu {
  float: left; }

.main-menu ul li {
  list-style-type: none;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid rgba(202, 204, 202, 0.6);
  line-height: 60px;
  text-transform: uppercase;
  font-size: 20px; }

.main-menu ul li a {
  text-decoration: none;
  color: #a7f707; }

.main-menu ul li a:hover {
  color: black; }

.main-menu ul li.active {
  background: black;
  border: none; }

.main-menu ul li.active a {
  color: #a7f707; }

/*main*/
* {
  font-family: "Open Sans", sans-serif; }

#container {
  position: absolute;
  top: 15%;
  left: 15%;
  min-width: 1100px;
  min-height: 1050px;
  border-radius: 0.7em;
  background-color: transparent; }

main {
  position: relative; }

main #photos img {
  margin: 0.75em; }

section#blogposts {
  /* position: absolute; */
  display: flexbox;
  flex-direction: column;
  left: 20%;
  top: 70px;
  padding: 50px; }

main .post {
  margin: 25px;
  padding: 25px;
  border: 2px solid rgba(83, 78, 58, 0.6);
  border-radius: 0.5em; }

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 0.85em; }

/* avatar image */
img {
  width: 8%;
  height: 10%; }

.site-footer {
  background-image: linear-gradient(#800000, #a7f707);
  color: aliceblue;
  padding: 20px 0;
  margin-top: 80px;
  text-align: center; }
